openapi: 3.1.0
info:
  title: Snov.io REST API
  version: 2026-09-16
  description: "Especificação machine-readable da REST API da Snov.io. Gerada automaticamente a partir da documentação oficial (https://snov.io/br/api). Rate limit: 60 req/min."
  contact:
    name: Snov.io
    url: "https://snov.io"
servers:
  - url: "https://api.snov.io"
    description: Produção
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth2 Access Token
      description: "Obtenha um token via POST /v1/oauth/access_token com grant_type=client_credentials, client_id e client_secret. Token expira em 3600s."
tags:
  - name: Autenticação
    description: Autenticação OAuth2 para obter tokens de acesso.
  - name: Localizador de E-mails
    description: Endpoints de Localizador de E-mails da API Snov.io.
  - name: Verificador de E-mails
    description: Endpoints de Verificador de E-mails da API Snov.io.
  - name: Conta de E-mail
    description: Endpoints de Conta de E-mail da API Snov.io.
  - name: Aquecimento de E-mail
    description: Endpoints de Aquecimento de E-mail da API Snov.io.
  - name: Campanhas Multicanal
    description: Endpoints de Campanhas Multicanal da API Snov.io.
  - name: Gerenciamento de Prospects
    description: Endpoints de Gerenciamento de Prospects da API Snov.io.
  - name: CRM
    description: Endpoints de CRM da API Snov.io.
  - name: Conta do Usuário
    description: Endpoints de Conta do Usuário da API Snov.io.
  - name: Webhooks
    description: Endpoints de Webhooks da API Snov.io.
paths:
  /v1/oauth/access_token:
    post:
      operationId: OAuthAccessToken
      summary: Obter token de acesso OAuth
      tags: [Autenticação]
      description: "Gera um token de acesso para autenticar solicitações futuras. Especifique o token no campo Authorization: Bearer {token}."
      x-credits: Gratuito
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                  enum: [client_credentials]
                  description: Sempre client_credentials
                client_id:
                  type: string
                  description: "Seu ID disponível em https://app.snov.io/account/api"
                client_secret:
                  type: string
                  description: "Sua chave secreta disponível em https://app.snov.io/account/api"
              required: [grant_type, client_id, client_secret]
      responses:
        200:
          description: Token gerado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: Novo token de acesso
                  token_type:
                    type: string
                    enum: [Bearer]
                  expires_in:
                    type: integer
                    description: Expiração em segundos
                    example: 3600
              example:
                access_token: 3yUyQZdks0Ej7T2fXzjUWzwlTcO4dWisKkeMpESz
                token_type: Bearer
                expires_in: 3600
  /v2/domain-search/start:
    post:
      operationId: DomainSearch2
      summary: "Enter a domain name and Snov.io will return company info, emails and prospect profiles"
      tags: [Localizador de E-mails]
      description: "Enter a domain name and Snov.io will return company info, emails and prospect profiles. **Custo em créditos** **Solicitações de informações da empresa, e-mails e perfis de clientes potenciais** 1 crédito por solicitação POST. Não cobraremos você se não houver resultados. **E-mails de perfis de clientes potenciais** 1 crédito por perfil de cliente potencial com e-mail. **Informações da empresa (solicitar resultados)**"
      x-credits: 1 crédito por solicitação distinta.
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                  description: "O nome do domínio para o qual você deseja localizar e-mails da empresa. Por exemplo, \"snov.io\"."
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  meta:
                    type: object
                    properties:
                      domain:
                        type: string
                      task_hash:
                        type: string
                  links:
                    type: object
                    properties:
                      result:
                        type: string
              example:
                data: []
                meta:
                  domain: snov.io
                  task_hash: 6f15de14db954c761f8e7507547b3bd7
                links:
                  result: "https://api.snov.io/v2/domain-search/result/6f15de14db954c761f8e7507547b3bd7"
  /v2/domain-search/result/{task_hash}:
    get:
      operationId: DomainSearch2_informacoes_da_empresa_obter_resultados
      summary: Informações da empresa (obter resultados)
      tags: [Localizador de E-mails]
      x-credits: 1 crédito por solicitação distinta.
      security:
        - bearerAuth: []
      parameters:
        - name: task_hash
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      company_name:
                        type: string
                      city:
                        type: string
                      founded:
                        type: string
                      website:
                        type: string
                      hq_phone:
                        type: string
                      industry:
                        type: string
                      size:
                        type: string
                      related_domains:
                        type: array
                        items:
                          type: string
                  meta:
                    type: object
                    properties:
                      domain:
                        type: string
                      task_hash:
                        type: string
                      prospects_count:
                        type: integer
                      emails_count:
                        type: integer
                      generic_contacts_count:
                        type: integer
                  links:
                    type: object
                    properties:
                      prospects:
                        type: string
                      domain_emails:
                        type: string
                      generic_contacts:
                        type: string
                  status:
                    type: string
              example:
                data:
                  company_name: Snov.io
                  city: New York
                  founded: 2017
                  website: snov.io
                  hq_phone: 13477050819
                  industry: Computer Software
                  size: 51-200
                  related_domains: [snov.me]
                meta:
                  domain: snov.io
                  task_hash: 6f15de14db954c761f8e7507547b3bd7
                  prospects_count: 196
                  emails_count: 108
                  generic_contacts_count: 9
                links:
                  prospects: "https://api.snov.io/v2/domain-search/prospects/start?domain=snov.io"
                  domain_emails: "https://api.snov.io/v2/domain-search/domain-emails/start?domain=snov.io"
                  generic_contacts: "https://api.snov.io/v2/domain-search/generic-contacts/start?domain=snov.io"
                status: completed
  /v2/domain-search/prospects/start:
    post:
      operationId: DomainSearch2_perfis_de_clientes_potenciais_solicitar_
      summary: Perfis de clientes potenciais (solicitar resultados)
      tags: [Localizador de E-mails]
      x-credits: 1 crédito por solicitação distinta.
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                  description: "O nome do domínio para o qual você deseja localizar perfis de clientes potenciais. Por exemplo, \"snov.io\"."
                positions[]:
                  type: string
                  description: "Use este parâmetro para filtrar clientes potenciais por cargo. Por exemplo, \"desenvolvedor de software\". Para filtrar por vários cargos, insira uma matriz de cargos obrigatórios, separados por vírgula. Você pode filtrar até 10 cargos por solicitação."
                page:
                  type: string
                  description: "Número da página que contém perfis de clientes potenciais. Cada página mostra até 20 perfis. Se não for indicada nenhuma página, será retornada a primeira página como padrão."
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  meta:
                    type: object
                    properties:
                      domain:
                        type: string
                      tab:
                        type: string
                      task_hash:
                        type: string
                      page:
                        type: integer
                      positions:
                        type: array
                        items:
                          type: string
                  links:
                    type: object
                    properties:
                      result:
                        type: string
              example:
                data: []
                meta:
                  domain: snov.io
                  tab: prospects
                  task_hash: 3384369c16aad810f58609a40ad65089
                  page: 1
                  positions: [Web developer]
                links:
                  result: "https://api.snov.io/v2/domain-search/prospects/result/3384369c16aad810f58609a..."
  /v2/domain-search/prospects/result/{task_hash}:
    get:
      operationId: DomainSearch2_perfis_de_clientes_potenciais_obter_resu
      summary: Perfis de clientes potenciais (obter resultados)
      tags: [Localizador de E-mails]
      x-credits: 1 crédito por solicitação distinta.
      security:
        - bearerAuth: []
      parameters:
        - name: task_hash
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        first_name:
                          type: string
                        last_name:
                          type: string
                        position:
                          type: string
                        source_page:
                          type: string
                        search_emails_start:
                          type: string
                  meta:
                    type: object
                    properties:
                      domain:
                        type: string
                      tab:
                        type: string
                      task_hash:
                        type: string
                      page:
                        type: integer
                      positions:
                        type: array
                        items:
                          type: string
                      total_count:
                        type: integer
                  links:
                    type: object
                    properties:
                      next:
                        type: string
                  status:
                    type: string
              example:
                data:
                  - first_name: John
                    last_name: Doe
                    position: Web developer
                    source_page: "https://www.linkedin.com/in/john-doe/"
                    search_emails_start: "https://api.snov.io/v2/domain-search/prospects/search-emails/start/41627edbfff8ba9c0819a1aa51d232baf3fa1763e5813dc86e027ccbbefd7a16b0522391086776b8764c94d02bab1257df392"
                meta:
                  domain: snov.io
                  tab: prospects
                  task_hash: 3384369c16aad810f58609a40ad65089
                  page: 1
                  positions: [Web developer]
                  total_count: 18
                links:
                  next: ""
                status: completed
  /v2/domain-search/prospects/search-emails/start/{prospect_hash}:
    post:
      operationId: DomainSearch2_email_do_cliente_potencial_solicitar_res
      summary: E-mail do cliente potencial (solicitar resultados)
      tags: [Localizador de E-mails]
      x-credits: 1 crédito por solicitação distinta.
      security:
        - bearerAuth: []
      parameters:
        - name: prospect_hash
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  meta:
                    type: object
                    properties:
                      task_hash:
                        type: string
                  links:
                    type: object
                    properties:
                      result:
                        type: string
              example:
                data: []
                meta:
                  task_hash: 5e846a1d80d95f66cfb30250a7c1881f
                links:
                  result: "https://api.snov.io/v2/domain-search/prospects/search-emails/result/5e846a1d8..."
  /v2/domain-search/prospects/search-emails/result/{task_hash}:
    get:
      operationId: DomainSearch2_email_do_cliente_potencial_obter_resulta
      summary: E-mail do cliente potencial (obter resultados)
      tags: [Localizador de E-mails]
      x-credits: 1 crédito por solicitação distinta.
      security:
        - bearerAuth: []
      parameters:
        - name: task_hash
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      searching_date:
                        type: string
                      emails:
                        type: array
                        items:
                          type: object
                          properties:
                            email:
                              type: string
                            smtp_status:
                              type: string
                  meta:
                    type: object
                    properties:
                      task_hash:
                        type: string
                  links:
                    type: array
                    items:
                      type: object
                  status:
                    type: string
              example:
                data:
                  searching_date: "2025-01-01 11:11:11"
                  emails:
                    - ...: ...
                meta:
                  task_hash: 5e846a1d80d95f66cfb30250a7c1881f
                links: []
                status: completed
  /v2/domain-search/domain-emails/start:
    post:
      operationId: DomainSearch2_emails_de_dominio_solicitar_resultados
      summary: E-mails de domínio (solicitar resultados)
      tags: [Localizador de E-mails]
      x-credits: 1 crédito por solicitação distinta.
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                  description: "O nome do domínio da empresa para o qual você deseja localizar e-mails de domínio. Por exemplo, \"snov.io\"."
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  meta:
                    type: object
                    properties:
                      domain:
                        type: string
                      tab:
                        type: string
                      task_hash:
                        type: string
                      next:
                        type: string
                  links:
                    type: object
                    properties:
                      result:
                        type: string
              example:
                data: []
                meta:
                  domain: snov.io
                  tab: emails
                  task_hash: 36fce9ac2667a827f6c5ab954e288bed
                  next: ""
                links:
                  result: "https://api.snov.io/v2/domain-search/domain-emails/result/36fce9ac2667a827f6c..."
  /v2/domain-search/domain-emails/result/{task_hash}:
    get:
      operationId: DomainSearch2_emails_de_dominio_obter_resultados
      summary: E-mails de domínio (obter resultados)
      tags: [Localizador de E-mails]
      x-credits: 1 crédito por solicitação distinta.
      security:
        - bearerAuth: []
      parameters:
        - name: task_hash
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        email:
                          type: string
                  meta:
                    type: object
                    properties:
                      domain:
                        type: string
                      tab:
                        type: string
                      task_hash:
                        type: string
                      next:
                        type: string
                      total_count:
                        type: integer
                  links:
                    type: object
                    properties:
                      next:
                        type: string
                  status:
                    type: string
              example:
                data:
                  - email: "admin@snov.io"
                meta:
                  domain: snov.io
                  tab: emails
                  task_hash: 36fce9ac2667a827f6c5ab954e288bed
                  next: 4ae6ca51c056c584db03c618dfe80dedb82ec37ab4667fa189386c82288a7422e8f4ab1010d84...
                  total_count: 108
                links:
                  next: "https://api.snov.io/v2/domain-search/domain-emails/start?domain=snov.io&next=..."
                status: completed
  /v2/domain-search/generic-contacts/start:
    post:
      operationId: DomainSearch2_contatos_genericos_solicitar_resultados
      summary: Contatos genéricos (solicitar resultados)
      tags: [Localizador de E-mails]
      x-credits: 1 crédito por solicitação distinta.
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                  description: "O nome do domínio da empresa para o qual você deseja localizar e-mails genéricos. Por exemplo, \"snov.io\"."
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  meta:
                    type: object
                    properties:
                      domain:
                        type: string
                      tab:
                        type: string
                      task_hash:
                        type: string
                      next:
                        type: string
                  links:
                    type: object
                    properties:
                      result:
                        type: string
              example:
                data: []
                meta:
                  domain: snov.io
                  tab: service
                  task_hash: 0e36e43b9b91a9b20d14b82c1ee141f2
                  next: ""
                links:
                  result: "https://api.snov.io/v2/domain-search/generic-contacts/result/0e36e43b9b91a9b2..."
  /v2/domain-search/generic-contacts/result/{task_hash}:
    get:
      operationId: DomainSearch2_contatos_genericos_obter_resultados
      summary: Contatos genéricos (obter resultados)
      tags: [Localizador de E-mails]
      x-credits: 1 crédito por solicitação distinta.
      security:
        - bearerAuth: []
      parameters:
        - name: task_hash
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        email:
                          type: string
                  meta:
                    type: object
                    properties:
                      domain:
                        type: string
                      tab:
                        type: string
                      task_hash:
                        type: string
                      next:
                        type: string
                      total_count:
                        type: integer
                  links:
                    type: object
                    properties:
                      next:
                        type: string
                  status:
                    type: string
              example:
                data:
                  - email: "orders@snov.io"
                meta:
                  domain: snov.io
                  tab: service
                  task_hash: 0e36e43b9b91a9b20d14b82c1ee141f2
                  next: ""
                  total_count: 9
                links:
                  next: ""
                status: completed
  /v2/database-search/prospects/start:
    post:
      operationId: DatabaseSearch
      summary: Pesquise prospects e empresas no banco de dados
      tags: [Localizador de E-mails]
      description: "Pesquise prospects e empresas no banco de dados. Use filtros para refinar sua busca. **Buscar prospects (solicitando resultados)** > Grátis (limitado a 1 página de resultados para contas Snov.io gratuitas)"
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filters.prospect.job_titles.include:
                  type: string
                  description: Lista de cargos que você deseja incluir.
                filters.prospect.job_titles.exclude:
                  type: string
                  description: Lista de cargos para excluir.
                filters.prospect.management_levels.include:
                  type: string
                  description: "Lista de níveis gerenciais para incluir. Opções possíveis: c_level, vp_level, director_level, manager_level, staff."
                filters.prospect.management_levels.exclude:
                  type: string
                  description: "Lista de níveis gerenciais para excluir. Opções possíveis: c_level, vp_level, director_level, manager_level, staff."
                filters.prospect.departments.include:
                  type: string
                  description: "Lista de departamentos para incluir na busca. Opções possíveis: engineering, human_resources, it_is, finance_administration, marketing, operations, sales, support, other."
                filters.prospect.departments.exclude:
                  type: string
                  description: "Lista de departamentos para excluir da busca. Opções possíveis: engineering, human_resources, it_is, finance_administration, marketing, operations, sales, support, other."
                filters.prospect.locations.include.locality:
                  type: string
                  description: "Localizações para incluir, p. ex. Londres Se nenhuma correspondência for encontrada, a API retornará até 15 opções similares."
                filters.prospect.locations.include.location_type:
                  type: string
                  description: "Tipos de localização para incluir. Opções possíveis: city, state, country, region, subregion."
                filters.prospect.locations.exclude.locality:
                  type: string
                  description: "Localizações para excluir, p. ex. Atlanta Se nenhuma correspondência for encontrada, a API retornará até 15 opções similares."
                filters.prospect.locations.exclude.location_type:
                  type: string
                  description: "Tipos de localização a excluir. Opções possíveis: cidade, estado, país, região, sub-região."
                filters.prospect.skills.include:
                  type: string
                  description: Lista de habilidades do prospect que você deseja incluir na pesquisa.
                filters.prospect.skills.exclude:
                  type: string
                  description: Lista de habilidades do prospect que você deseja excluir.
                filters.prospect.first_name:
                  type: string
                  description: Nome do prospect.
                filters.prospect.last_name:
                  type: string
                  description: Sobrenome do prospect.
                filters.company.name.include:
                  type: string
                  description: Lista de nomes de empresas a incluir.
                filters.company.name.exclude:
                  type: string
                  description: Lista de nomes de empresas a excluir.
                filters.company.locations.include.locality:
                  type: string
                  description: "Localizações da empresa a incluir, ex. Londres Se nenhuma correspondência for encontrada, a API retorna uma lista com resultados similares."
                filters.company.locations.include.location_type:
                  type: string
                  description: "Tipos de localização da empresa a incluir. Opções possíveis: cidade, estado, país, região, sub-região."
                filters.company.locations.exclude.locality:
                  type: string
                  description: "Localizações da empresa para excluir, ex: Atlanta Se nenhuma correspondência for encontrada, a API retorna uma lista com resultados similares."
                filters.company.locations.exclude.location_type:
                  type: string
                  description: "Tipos de localização da empresa para excluir. Opções possíveis: city, state, country, region, subregion."
                filters.company.industries.include:
                  type: string
                  description: "Lista de setores para incluir. Se nenhuma correspondência for encontrada, a API retorna uma lista com resultados similares."
                filters.company.industries.exclude:
                  type: string
                  description: "Lista de setores para excluir. Se nenhuma correspondência for encontrada, a API retorna uma lista com resultados similares."
                filters.company.size:
                  type: string
                  description: "Faixa de tamanho da empresa. Opções possíveis: Self, 1-10, 11-50, 51-200, 201-500, 501-1000, 1001-5000, 5001-10000, 10001+"
                filters.company.revenue.min:
                  type: string
                  description: "Receita mínima da empresa. Opções possíveis: 0, 1, 500000, 1000000, 2500000, 5000000, 10000000, 20000000, 50000000, 100000000, 500000000, 1000000000 Atenção: a receita mínima não pode exceder a receita máxima definida."
                filters.company.revenue.max:
                  type: string
                  description: "Receita máxima da empresa. Opções possíveis: 0, 1, 500000, 1000000, 2500000, 5000000, 10000000, 20000000, 50000000, 100000000, 500000000, 1000000000, 1000000000000"
                filters.company.specialities:
                  type: string
                  description: Lista de setores em que a empresa atua.
                filters.company.founded.from:
                  type: string
                  description: Ano de fundação da empresa (desde).
                filters.company.founded.till:
                  type: string
                  description: Ano de fundação da empresa (até).
                page:
                  type: string
                  description: Número da página. A página 1 é retornada por padrão.
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  meta:
                    type: object
                    properties:
                      task_hash:
                        type: string
                      page:
                        type: integer
                  links:
                    type: object
                    properties:
                      result:
                        type: string
              example:
                data: []
                meta:
                  task_hash: e8401d70910918cdb370153a306d1400
                  page: 1
                links:
                  result: "https://api.snov.io/v2/database-search/prospects/result/e8401d70910918cdb3701..."
  /v2/database-search/prospects/result/{task_hash}:
    get:
      operationId: DatabaseSearch_pesquisar_prospects_obtendo_resultados
      summary: Pesquisar prospects (obtendo resultados)
      tags: [Localizador de E-mails]
      security:
        - bearerAuth: []
      parameters:
        - name: task_hash
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      total:
                        type: integer
                      page:
                        type: integer
                      total_pages:
                        type: integer
                      prospects:
                        type: array
                        items:
                          type: object
                          properties:
                            first_name:
                              type: string
                            last_name:
                              type: string
                            job_title:
                              type: string
                            location:
                              type: string
                            linkedin_url:
                              type: string
                            industry:
                              type: string
                            list_id:
                              type: integer
                            email_and_hidden_info_reveal:
                              type: string
                            company:
                              type: object
                              properties:
                                name:
                                  type: string
                                domain:
                                  type: string
                                location:
                                  type: string
                                industry:
                                  type: string
                                size:
                                  type: string
                  meta:
                    type: object
                    properties:
                      task_hash:
                        type: string
                      page:
                        type: integer
                  links:
                    type: array
                    items:
                      type: object
                  status:
                    type: string
              example:
                data:
                  total: 162
                  page: 1
                  total_pages: 4
                  prospects:
                    - ...: ...
                meta:
                  task_hash: 832c2ae36ca4e80fcbddeae0dea70efd
                  page: 1
                links: []
                status: completed
  /v2/database-search/prospects/search-emails/start/{task_hash}:
    post:
      operationId: DatabaseSearch_perfil_do_prospect_com_email_solicitando
      summary: Perfil do prospect com e-mail (solicitando resultados)
      tags: [Localizador de E-mails]
      security:
        - bearerAuth: []
      parameters:
        - name: task_hash
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  meta:
                    type: object
                    properties:
                      task_hash:
                        type: string
                  links:
                    type: object
                    properties:
                      result:
                        type: string
              example:
                data: []
                meta:
                  task_hash: 15e843a82ac180b5369aa97a879ae200
                links:
                  result: "https://api.snov.io/v2/database-search/prospects/search-emails/result/15e843a..."
  /v2/database-search/prospects/search-emails/result/{task_hash}:
    get:
      operationId: DatabaseSearch_perfil_do_prospect_com_email_obtendo_res
      summary: Perfil do prospect com e-mail (obtendo resultados)
      tags: [Localizador de E-mails]
      security:
        - bearerAuth: []
      parameters:
        - name: task_hash
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      searching_date:
                        type: string
                      first_name:
                        type: string
                      last_name:
                        type: string
                      linkedin_url:
                        type: string
                      emails:
                        type: array
                        items:
                          type: object
                          properties:
                            email:
                              type: string
                            smtp_status:
                              type: string
                  meta:
                    type: object
                    properties:
                      task_hash:
                        type: string
                  links:
                    type: array
                    items:
                      type: object
                  status:
                    type: string
              example:
                data:
                  searching_date: "2026-07-09 10:07:39"
                  first_name: John
                  last_name: Doe
                  linkedin_url: "https://www.linkedin.com/in/john-doe"
                  emails:
                    - ...: ...
                meta:
                  task_hash: 15e843a82ac180b5369aa97a879ae200
                links: []
                status: completed
  /v2/database-search/companies/start:
    post:
      operationId: DatabaseSearch_pesquisar_empresas_solicitando_resultado
      summary: Pesquisar empresas (solicitando resultados)
      tags: [Localizador de E-mails]
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filters.company.name.include:
                  type: string
                  description: Lista de nomes de empresas que você quer incluir.
                filters.company.name.exclude:
                  type: string
                  description: Lista de nomes de empresas que você quer excluir.
                filters.locations.include.locality:
                  type: string
                  description: "Locais a incluir, ex. Londres Se nenhuma correspondência for encontrada, a API retorna até 15 opções similares."
                filters.locations.include.location_type:
                  type: string
                  description: "Tipos de local a incluir. Opções possíveis: cidade, estado, país, região, sub-região."
                filters.locations.exclude.locality:
                  type: string
                  description: "Locais a excluir, ex. Atlanta Se nenhuma correspondência for encontrada, a API retorna até 15 opções similares."
                filters.locations.exclude.location_type:
                  type: string
                  description: "Tipos de local a excluir. Opções possíveis: cidade, estado, país, região, sub-região."
                filters.company.industries.include:
                  type: string
                  description: "Lista de indústrias a incluir. Se nenhuma correspondência for encontrada, a API retorna uma lista com indústrias similares."
                filters.company.industries.exclude:
                  type: string
                  description: "Lista de indústrias a excluir. Se nenhuma correspondência for encontrada, a API retorna uma lista com indústrias similares."
                filters.company.size:
                  type: string
                  description: "Intervalo de tamanho da empresa. Opções possíveis: Self, 1-10, 11-50, 51-200, 201-500, 501-1000, 1001-5000, 5001-10000, 10001+"
                filters.company.revenue.min:
                  type: string
                  description: "Receita mínima da empresa. Opções possíveis: 0, 1, 500000, 1000000, 2500000, 5000000, 10000000, 20000000, 50000000, 100000000, 500000000, 1000000000 Atenção: a receita mínima não pode exceder a receita máxima definida."
                filters.company.revenue.max:
                  type: string
                  description: "Receita máxima da empresa. Opções possíveis: 0, 1, 500000, 1000000, 2500000, 5000000, 10000000, 20000000, 50000000, 100000000, 500000000, 1000000000, 1000000000000"
                filters.company.specialities:
                  type: string
                  description: Lista de setores em que a empresa atua.
                filters.company.founded.from:
                  type: string
                  description: Ano de fundação da empresa (desde).
                filters.company.founded.till:
                  type: string
                  description: Ano de fundação da empresa (até).
                page:
                  type: string
                  description: Número da página. A página 1 é retornada por padrão.
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  meta:
                    type: object
                    properties:
                      task_hash:
                        type: string
                      page:
                        type: integer
                  links:
                    type: object
                    properties:
                      result:
                        type: string
              example:
                data: []
                meta:
                  task_hash: f263aa25a2aae80ddebec51b4ee9be23
                  page: 1
                links:
                  result: "https://api.snov.io/v2/database-search/companies/result/f263aa25a2aae80ddebec..."
  /v2/database-search/companies/result/{task_hash}:
    get:
      operationId: DatabaseSearch_pesquisar_empresas_obtendo_resultados
      summary: Pesquisar empresas (obtendo resultados)
      tags: [Localizador de E-mails]
      security:
        - bearerAuth: []
      parameters:
        - name: task_hash
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      total:
                        type: integer
                      page:
                        type: integer
                      total_pages:
                        type: integer
                      companies:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            domain:
                              type: string
                            location:
                              type: string
                            industry:
                              type: string
                            size:
                              type: string
                            revenue:
                              type: object
                              properties:
                                min:
                                  type: integer
                                max:
                                  type: integer
                                reported:
                                  type: integer
                            logo_url:
                              type: string
                  meta:
                    type: object
                    properties:
                      task_hash:
                        type: string
                      page:
                        type: integer
                  links:
                    type: array
                    items:
                      type: object
                  status:
                    type: string
              example:
                data:
                  total: 4328524
                  page: 1
                  total_pages: 86571
                  companies:
                    - ...: ...
                meta:
                  task_hash: bbb948e398787454a594f9f03f8f2fd0
                  page: 1
                links: []
                status: completed
  /v1/get-domain-emails-count:
    post:
      operationId: EmailCount
      summary: "Com este método de API, você pode descobrir o número de endereços de email de um determinado domínio em nosso banco de d"
      tags: [Localizador de E-mails]
      description: "Com este método de API, você pode descobrir o número de endereços de email de um determinado domínio em nosso banco de dados. É totalmente gratuito, então você não precisa de créditos para usá-lo!"
      x-credits: Gratuito
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                  description: O nome do domínio para o qual você gostaria de saber o número de emails em nosso banco de dados.
      responses:
        200:
          description: Sucesso
  /v2/emails-by-domain-by-name/start:
    post:
      operationId: EmailFinder
      summary: "Insira o nome do cliente potencial e o domínio da empresa, e a Snov.io retornará o endereço de e-mail verificado"
      tags: [Localizador de E-mails]
      description: "Insira o nome do cliente potencial e o domínio da empresa, e a Snov.io retornará o endereço de e-mail verificado. **Fornecer nome e domínio**"
      x-credits: 1 crédito para cada e-mail com status válido ou desconhecido.
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                rows:
                  type: string
                  description: "Uma matriz de objetos que contém detalhes dos clientes potenciais (nome, sobrenome e domínio). Cada solicitação pode ter até 10 objetos."
                first_name:
                  type: string
                  description: Nome do cliente potencial.
                last_name:
                  type: string
                  description: Sobrenome do cliente potencial.
                domain:
                  type: string
                  description: Domínio da empresa para a qual o cliente potencial trabalha.
                webhook_url:
                  type: string
                  description: Insira seu URL de webhook para receber os resultados instantaneamente em vez de usar uma tarefa de hash.
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      task_hash:
                        type: string
                  meta:
                    type: object
                    properties:
                      rows:
                        type: array
                        items:
                          type: object
                          properties:
                            first_name:
                              type: string
                            last_name:
                              type: string
                            domain:
                              type: string
              example:
                data:
                  task_hash: 005ffad65aad581943cf65a45112ca7a
                meta:
                  rows:
                    - ...: ...
  /v2/emails-by-domain-by-name/result:
    get:
      operationId: EmailFinder_receber_emails
      summary: Receber e-mails
      tags: [Localizador de E-mails]
      x-credits: 1 crédito para cada e-mail com status válido ou desconhecido.
      security:
        - bearerAuth: []
      parameters:
        - name: task_hash
          in: query
          description: ID de solicitação exclusivo que você recebeu da solicitação anterior.
          schema:
            type: string
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        people:
                          type: string
                        result:
                          type: array
                          items:
                            type: object
                            properties:
                              email:
                                type: string
                              smtp_status:
                                type: string
                              is_valid_format:
                                type: boolean
                              is_disposable:
                                type: boolean
                              is_webmail:
                                type: boolean
                              is_gibberish:
                                type: boolean
                  meta:
                    type: object
                    properties:
                      rows:
                        type: array
                        items:
                          type: object
                          properties:
                            domain:
                              type: string
                            last_name:
                              type: string
                            first_name:
                              type: string
                      task_hash:
                        type: string
              example:
                status: completed
                data:
                  - people: John Doe
                    result:
                      - ...
                meta:
                  rows:
                    - ...: ...
                  task_hash: af50fb238757ad092ad6e57e130b0dea
  /v2/company-domain-by-name/start:
    post:
      operationId: CompanyDomainByName
      summary: "Insira nomes de empresas, e a Snov.io retornará os respectivos endereços de domínio"
      tags: [Localizador de E-mails]
      description: "Insira nomes de empresas, e a Snov.io retornará os respectivos endereços de domínio. **Fornecendo nomes de empresas**"
      x-credits: 1 crédito para cada endereço de domínio encontrado
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                names[]:
                  type: string
                  description: "Uma matriz de nomes de empresas para as quais você deseja receber os domínios. Para recuperar domínios para várias empresas, adicione cada uma como um parâmetro separado. Por exemplo: names[] | Snov.io names[] | Sendpulse Você pode fornecer até 10 nomes de empresas ao mesmo tempo."
                webhook_url:
                  type: string
                  description: Insira seu URL de webhook para receber os resultados instantaneamente em vez de usar uma tarefa de hash.
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      task_hash:
                        type: string
                  meta:
                    type: object
                    properties:
                      names:
                        type: array
                        items:
                          type: string
              example:
                data:
                  task_hash: 959c0f60facb8629bba746e091a26f7b
                meta:
                  names: [Snov.io]
  /v2/company-domain-by-name/result:
    get:
      operationId: CompanyDomainByName_recebendo_dominios_de_empresas
      summary: Recebendo domínios de empresas
      tags: [Localizador de E-mails]
      x-credits: 1 crédito para cada endereço de domínio encontrado
      security:
        - bearerAuth: []
      parameters:
        - name: hash_from_1
          in: path
          required: true
          schema:
            type: string
        - name: task_hash
          in: query
          description: ID de solicitação exclusivo que você recebeu da solicitação anterior.
          schema:
            type: string
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        result:
                          type: object
                          properties:
                            domain:
                              type: string
                  meta:
                    type: object
                    properties:
                      names:
                        type: array
                        items:
                          type: string
                      task_hash:
                        type: string
              example:
                status: completed
                data:
                  - name: Snov.io
                    result:
                      ...: ...
                meta:
                  names: [Snov.io]
                  task_hash: 959c0f60facb8629bba746e091a26f7b
  /v2/li-profiles-by-urls/start:
    post:
      operationId: LiProfilesByUrls
      summary: "Insira os URLs dos membros do LinkedIn, e a Snov.io recuperará todas as informações dos perfis deles"
      tags: [Localizador de E-mails]
      description: "Insira os URLs dos membros do LinkedIn, e a Snov.io recuperará todas as informações dos perfis deles. **Fornecendo URLs do LinkedIn**"
      x-credits: 1 crédito por informação de perfil de cliente potencial fornecida
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                urls[]:
                  type: string
                  description: "Uma matriz de URLs de perfis do LinkedIn para os quais você deseja receber as informações completas do perfil. Para recuperar informações de perfil de vários membros do LinkedIn ao mesmo tempo, adicione cada URL em um parâmetro separado. Você pode fornecer até 10 URLs do LinkedIn ao mesmo tempo."
                webhook_url:
                  type: string
                  description: Insira seu URL de webhook para receber os resultados instantaneamente em vez de usar uma tarefa de hash.
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      task_hash:
                        type: string
                  meta:
                    type: object
                    properties:
                      urls:
                        type: array
                        items:
                          type: string
              example:
                data:
                  task_hash: ef005a4f6d82e7e88384de7c72ee198d
                meta:
                  urls: ["https://www.linkedin.com/in/john-doe-32a416248/"]
  /v2/li-profiles-by-urls/result:
    get:
      operationId: LiProfilesByUrls_recebendo_informacoes_de_perfil
      summary: Recebendo informações de perfil
      tags: [Localizador de E-mails]
      x-credits: 1 crédito por informação de perfil de cliente potencial fornecida
      security:
        - bearerAuth: []
      parameters:
        - name: task_hash
          in: query
          description: ID de solicitação exclusivo que você recebeu da solicitação anterior.
          schema:
            type: string
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                        result:
                          type: object
                          properties:
                            name:
                              type: string
                            first_name:
                              type: string
                            last_name:
                              type: string
                            industry:
                              type: string
                            location:
                              type: string
                            country:
                              type: string
                            positions:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  title:
                                    type: string
                                  linkedin_url:
                                    type: string
                                  url:
                                    type: string
                                  industry:
                                    type: string
                                  country:
                                    type: string
                                  location:
                                    type: string
                  meta:
                    type: object
                    properties:
                      urls:
                        type: array
                        items:
                          type: string
                      task_hash:
                        type: string
              example:
                status: completed
                data:
                  - url: "https://www.linkedin.com/in/john-doe-32a416248/"
                    result:
                      ...: ...
                meta:
                  urls: ["https://www.linkedin.com/in/john-doe-32a416248/"]
                  task_hash: 8a60c72133d0ea94767e4a978355c630
  /v1/get-profile-by-email:
    post:
      operationId: GetProfileByEmail
      summary: Forneça um endereço de email e a Snov.io retornará todas as informações de perfil conectadas ao proprietário do endereço
      tags: [Localizador de E-mails]
      description: "Forneça um endereço de email e a Snov.io retornará todas as informações de perfil conectadas ao proprietário do endereço de email fornecido a partir do banco de dados. Se não encontrarmos informações sobre o proprietário do email em nosso banco de dados, você não será cobrado pela solicitação."
      x-credits: 1 crédito por solicitação
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: O endereço de email da pessoa para a qual você deseja encontrar informações adicionais.
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  id:
                    type: integer
                  source:
                    type: string
                  name:
                    type: string
                  firstName:
                    type: string
                  lastName:
                    type: string
                  logo:
                    type: string
                  industry:
                    type: object
                  country:
                    type: string
                  locality:
                    type: string
                  social:
                    type: array
                    items:
                      type: object
                      properties:
                        link:
                          type: string
                        type:
                          type: string
                  currentJobs:
                    type: array
                    items:
                      type: object
                      properties:
                        companyName:
                          type: string
                        position:
                          type: string
                        socialLink:
                          type: string
                        site:
                          type: string
                        locality:
                          type: string
                        state:
                          type: string
                        city:
                          type: string
                        street:
                          type: string
                        street2:
                          type: string
                        postal:
                          type: string
                        founded:
                          type: string
                        startDate:
                          type: string
                        endDate:
                          type: object
                        size:
                          type: string
                        industry:
                          type: string
                        companyType:
                          type: string
                        country:
                          type: string
                  previousJobs:
                    type: array
                    items:
                      type: object
                      properties:
                        companyName:
                          type: string
                        position:
                          type: string
                        socialLink:
                          type: object
                        site:
                          type: object
                        locality:
                          type: object
                        state:
                          type: object
                        city:
                          type: object
                        street:
                          type: object
                        street2:
                          type: object
                        postal:
                          type: object
                        founded:
                          type: object
                        startDate:
                          type: string
                        endDate:
                          type: string
                        size:
                          type: object
                        industry:
                          type: object
                        companyType:
                          type: object
                        country:
                          type: object
                  lastUpdateDate:
                    type: string
              example:
                success: true
                id: 301592
                source: linkedIn
                name: Lizi Hamer
                firstName: Lizi
                lastName: Hamer
                logo: "https://app.snov.io/img/peoples/010fcf23c70dfa68d880545ec89a9215.jpg"
                industry: null
                country: Singapore
                locality: Singapore
                social:
                  - link: "https://www.linkedin.com/in/lizihamer/"
                    type: linkedIn
                currentJobs:
                  - companyName: Octagon
                    position: Regional Creative Director
                    socialLink: "https://www.linkedin.com/company/165282"
                    site: www.octagon.com
                    locality: Greater New York City Area
                    state: Connecticut
                    city: Stamford
                    street: 290 Harbor Dr
                    street2: 2nd Floor
                    postal: 06902
                    founded: 1983
                    startDate: 2016-01-31
                    endDate: null
                    size: 1-10
                    industry: Marketing and Advertising
                    companyType: Public Company
                    country: United States
                previousJobs:
                  - companyName: Fusion Co-innovation Labs
                    position: Creative Entrepreneur
                    socialLink: null
                    site: null
                    locality: null
                    state: null
                    city: null
                    street: null
                    street2: null
                    postal: null
                    founded: null
                    startDate: 2013-05-31
                    endDate: 2013-10-31
                    size: null
                    industry: null
                    companyType: null
                    country: null
                lastUpdateDate: "2018-02-07 10:12:28"
  /v2/email-verification/start:
    post:
      operationId: EmailVerifier
      summary: "> Insira endereços de e-mail, e a Snov.io realizará uma verificação completa"
      tags: [Verificador de E-mails]
      description: "> Insira endereços de e-mail, e a Snov.io realizará uma verificação completa. Você pode verificar até 10 e-mails ao mesmo tempo. Fornecendo e-mails"
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                emails[]:
                  type: string
                  description: "E-mails que você deseja verificar. Para verificar vários e-mails ao mesmo tempo, adicione cada e-mail como um parâmetro separado. Por exemplo: emails[] | help@snov.io emails[] | partnerships@snov.io Você pode verificar até 10 e-mails ao mesmo tempo."
                webhook_url:
                  type: string
                  description: Insira seu URL de webhook para receber os resultados instantaneamente em vez de usar uma tarefa de hash.
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      task_hash:
                        type: string
                  meta:
                    type: object
                    properties:
                      emails:
                        type: array
                        items:
                          type: string
              example:
                data:
                  task_hash: 0110437df6811068197577a538849a4b
                meta:
                  emails: ["gavin.vanrooyen@octagon.com"]
  /v2/email-verification/result:
    get:
      operationId: EmailVerifier_recebendo_resultados_da_verificacao
      summary: Recebendo resultados da verificação
      tags: [Verificador de E-mails]
      security:
        - bearerAuth: []
      parameters:
        - name: task_hash
          in: query
          description: ID de solicitação exclusivo que você recebeu da solicitação anterior.
          schema:
            type: string
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        email:
                          type: string
                        result:
                          type: object
                          properties:
                            is_webmail:
                              type: boolean
                            smtp_status:
                              type: string
                            is_gibberish:
                              type: boolean
                            is_disposable:
                              type: boolean
                            is_valid_format:
                              type: boolean
                            unknown_status_reason:
                              type: string
                  meta:
                    type: object
                    properties:
                      emails:
                        type: array
                        items:
                          type: string
                      task_hash:
                        type: string
              example:
                status: completed
                data:
                  - email: "gavin.vanrooyen@octagon.com"
                    result:
                      ...: ...
                meta:
                  emails: ["gavin.vanrooyen@octagon.com"]
                  task_hash: 0110437df6811068197577a538849a4b
  /v2/sender-accounts/emails:
    post:
      operationId: AddEmailAccount
      summary: Este método conecta uma nova conta de e-mail SMTP/IMAP ao seu workspace da snov.io para que ela possa ser usada como rem
      tags: [Conta de E-mail]
      description: Este método conecta uma nova conta de e-mail SMTP/IMAP ao seu workspace da snov.io para que ela possa ser usada como remetente em campanhas. A conta é criada mesmo que a verificação da conexão SMTP/IMAP ainda não tenha sido concluída — o status da conexão é retornado de forma assíncrona nos campos smtp.status / imap.status e pode ser consultado posteriormente. Apenas contas SMTP/IMAP (tipo de provedor other ) são suportadas; os fluxos OAuth do Gmail e da Microsoft estão fora do escopo.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sender_name:
                  type: string
                  description: "Nome de exibição do remetente, máximo de 100 caracteres."
                email_from:
                  type: string
                  description: Endereço de e-mail do remetente.
                password:
                  type: string
                  description: Senha ou senha de aplicativo da conta SMTP/IMAP. Armazenada de forma criptografada.
                smtp:
                  type: object
                  description: Objeto com as configurações de SMTP.
                smtp.host:
                  type: string
                  description: "Host SMTP, por exemplo smtp.gmail.com ."
                smtp.port:
                  type: string
                  enum: [25, 465, 587]
                  description: "Porta SMTP. Valores permitidos: 25 , 465 , 587 ."
                smtp.encryption:
                  type: string
                  enum: [ssl, tls, none]
                  description: "Tipo de criptografia. Valores permitidos: ssl , tls , none . Deve corresponder à porta: 465 → ssl , 587 → tls , 25 → none ."
                imap:
                  type: object
                  description: "Objeto com as configurações de IMAP. Opcional, mas se fornecido todos os subcampos são obrigatórios."
                imap.host:
                  type: string
                  description: "Host IMAP, por exemplo imap.gmail.com . Obrigatório quando imap está presente."
                imap.port:
                  type: string
                  enum: [143, 993]
                  description: "Porta IMAP. Valores permitidos: 143 , 993 . Obrigatório quando imap está presente."
                imap.encryption:
                  type: string
                  enum: [ssl, tls, none]
                  description: "Tipo de criptografia. Valores permitidos: ssl , tls , none . Deve corresponder à porta: 993 → ssl ou tls , 143 → none . Obrigatório quando imap está presente."
                reply_to:
                  type: string
                  description: Endereço de e-mail de resposta (reply-to).
                limitation:
                  type: string
                  description: "Limite diário de envios. Inteiro, mín. 1 , máx. 1200 . Padrão: 50 . Não pode exceder a quantidade máxima de e-mails que a conta poderia enviar em 24 horas considerando o delay configurado."
                delay_type:
                  type: string
                  enum: [fixed, random]
                  description: "Tipo de delay entre e-mails. Valores permitidos: fixed , random . Padrão: random ."
                delay_fixed:
                  type: string
                  description: "Delay fixo em segundos (usado quando delay_type=fixed ). Inteiro, mín. 5 , máx. 3600 . Padrão: 600 ."
                delay_from:
                  type: string
                  description: "Delay mínimo em segundos (usado quando delay_type=random ). Inteiro, mín. 5 , máx. 3600 . Padrão: 600 ."
                delay_to:
                  type: string
                  description: "Delay máximo em segundos (usado quando delay_type=random ). Inteiro, mín. 5 , máx. 3600 , deve ser maior que delay_from . Padrão: 900 ."
                signature:
                  type: string
                  description: Assinatura HTML anexada aos e-mails enviados.
                bcc_email:
                  type: string
                  description: Endereço de e-mail BCC.
                tags:
                  type: array
                  items:
                    type: string
                  description: "Array de strings. As tags existentes são associadas pelo nome, e as novas são criadas e vinculadas à conta."
                timezoneId:
                  type: string
                  description: "ID inteiro do fuso horário da conta. Mín. 1 , máx. 458 ."
              required: [sender_name, email_from, password, smtp, smtp.host, smtp.port, smtp.encryption]
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      sender_name:
                        type: string
                      email_from:
                        type: string
                      smtp:
                        type: object
                        properties:
                          host:
                            type: string
                          port:
                            type: integer
                          encryption:
                            type: string
                          status:
                            type: string
                      imap:
                        type: object
                        properties:
                          host:
                            type: string
                          port:
                            type: integer
                          encryption:
                            type: string
                          status:
                            type: string
                      limitation:
                        type: integer
                      delay_type:
                        type: string
                      delay_from:
                        type: integer
                      delay_to:
                        type: integer
                      reply_to:
                        type: string
                      bcc_email:
                        type: string
                      tags:
                        type: array
                        items:
                          type: string
                      created_at:
                        type: string
              example:
                data:
                  id: 869852
                  sender_name: John Smith
                  email_from: "john@example.com"
                  smtp:
                    host: smtp.gmail.com
                    port: 465
                    encryption: ssl
                    status: pending
                  imap:
                    host: imap.gmail.com
                    port: 993
                    encryption: ssl
                    status: pending
                  limitation: 50
                  delay_type: random
                  delay_from: 600
                  delay_to: 900
                  reply_to: "replies@example.com"
                  bcc_email: "bcc@example.com"
                  tags: [Canada campaign 2025]
                  created_at: "2026-03-20T10:00:00+00:00"
    get:
      operationId: GetListOfEmailAccounts
      summary: Este método exibe uma lista de todas as contas de e-mail conectadas.
      tags: [Conta de E-mail]
      description: Este método exibe uma lista de todas as contas de e-mail conectadas.
      x-credits: Gratuito
      security:
        - bearerAuth: []
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        sender_name:
                          type: string
                        email_from:
                          type: string
                        valid:
                          type: boolean
                        suspended:
                          type: boolean
                        limitation:
                          type: integer
                        provider:
                          type: string
                        tags:
                          type: array
                          items:
                            type: string
                        imap:
                          type: object
                          properties:
                            username:
                              type: string
                            valid:
                              type: boolean
              example:
                data:
                  - id: 11980
                    sender_name: Den Johnson
                    email_from: "den.johnson@snov.io"
                    valid: true
                    suspended: false
                    limitation: 50
                    provider: hostinger
                    tags:
                      - ...
                    imap:
                      ...: ...
  /v2/sender-accounts/emails/{id}:
    patch:
      operationId: UpdateEmailAccount
      summary: Este método atualiza uma conta de remetente SMTP/IMAP existente
      tags: [Conta de E-mail]
      description: "Este método atualiza uma conta de remetente SMTP/IMAP existente. Todos os campos são opcionais, mas pelo menos um campo válido deve ser fornecido — apenas os campos informados são alterados, os demais permanecem inalterados. Quando qualquer campo SMTP ou IMAP é incluído, uma nova verificação de conexão assíncrona é disparada e o status resultante é retornado em smtp.status / imap.status . Se tags for fornecido, o novo array substitui completamente a lista de tags atual da conta (substituição, não mesclagem)."
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: ID da conta de remetente a ser atualizada.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                sender_name:
                  type: string
                  description: "Novo nome de exibição do remetente, máximo de 100 caracteres."
                email_from:
                  type: string
                  description: Novo endereço de e-mail do remetente.
                password:
                  type: string
                  description: Nova senha ou senha de aplicativo da conta SMTP/IMAP. Armazenada de forma criptografada.
                smtp:
                  type: object
                  description: "Objeto com as novas configurações de SMTP ( host , port , encryption ). Quando smtp está presente, todos os três subcampos são obrigatórios e devem respeitar as regras de pareamento porta/criptografia ( 465 → ssl , 587 → tls , 25 → none )."
                smtp.host:
                  type: string
                  description: "Host SMTP. Máximo de 100 caracteres; formato: ^[a-zA-Z0-9][a-zA-Z0-9-.]*. Obrigatório quando smtp está presente."
                smtp.port:
                  type: string
                  enum: [25, 465, 587]
                  description: "Valores permitidos: 25, 465, 587. Obrigatório quando smtp está presente."
                smtp.encryption:
                  type: string
                  description: "Deve corresponder à porta: 465 → ssl, 587 → tls, 25 → none. Obrigatório quando smtp está presente."
                imap:
                  type: object
                  description: "Objeto com as novas configurações de IMAP ( host , port , encryption ). Quando imap está presente, todos os três subcampos são obrigatórios ( 993 → ssl ou tls , 143 → none )"
                imap.host:
                  type: string
                  description: Host IMAP. Máximo de 100 caracteres. Obrigatório quando imap está presente.
                imap.port:
                  type: string
                  enum: [143, 993]
                  description: "Valores permitidos: 143, 993. Obrigatório quando imap está presente."
                imap.encryption:
                  type: string
                  description: "Deve corresponder à porta: 993 → ssl ou tls; 143 → none. Obrigatório quando imap está presente."
                reply_to:
                  type: string
                  description: Novo endereço de e-mail de resposta (reply-to). Passe null para limpar.
                limitation:
                  type: string
                  description: "Novo limite diário de envios. Inteiro, mín. 1 , máx. 1200 . Não pode exceder a quantidade máxima de e-mails que a conta poderia enviar em 24 horas considerando o delay configurado."
                delay_type:
                  type: string
                  enum: [fixed, random]
                  description: "Novo tipo de delay. Valores permitidos: fixed , random ."
                delay_fixed:
                  type: string
                  description: "Delay fixo em segundos (usado quando delay_type=fixed ). Inteiro, mín. 5 , máx. 3600 ."
                delay_from:
                  type: string
                  description: "Delay mínimo em segundos (usado quando delay_type=random ). Inteiro, mín. 5 , máx. 3600 ."
                delay_to:
                  type: string
                  description: "Delay máximo em segundos (usado quando delay_type=random ). Inteiro, mín. 5 , máx. 3600 , deve ser maior que delay_from ."
                signature:
                  type: string
                  description: Nova assinatura HTML. Passe null para limpar.
                bcc_email:
                  type: string
                  description: Novo endereço de e-mail BCC. Passe null para limpar.
                tags:
                  type: array
                  items:
                    type: string
                  description: Novo array de tags. Substitui completamente a lista de tags atual. Passe null para remover todas as tags.
                timezoneId:
                  type: string
                  description: "ID inteiro do fuso horário da conta. Mín. 1 , máx. 458 ."
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      sender_name:
                        type: string
                      email_from:
                        type: string
                      smtp:
                        type: object
                        properties:
                          host:
                            type: string
                          port:
                            type: integer
                          encryption:
                            type: string
                          status:
                            type: string
                      imap:
                        type: object
                        properties:
                          host:
                            type: string
                          port:
                            type: integer
                          encryption:
                            type: string
                          status:
                            type: string
                      limitation:
                        type: integer
                      delay_type:
                        type: string
                      delay_fixed:
                        type: integer
                      reply_to:
                        type: string
                      bcc_email:
                        type: string
                      tags:
                        type: array
                        items:
                          type: string
                      updated_at:
                        type: string
              example:
                data:
                  id: 869852
                  sender_name: John Smith Updated
                  email_from: "john@example.com"
                  smtp:
                    host: smtp.gmail.com
                    port: 465
                    encryption: ssl
                    status: pending
                  imap:
                    host: imap.gmail.com
                    port: 993
                    encryption: ssl
                    status: pending
                  limitation: 100
                  delay_type: fixed
                  delay_fixed: 600
                  reply_to: "replies@example.com"
                  bcc_email: "bcc@example.com"
                  tags: [Canada campaign 2025]
                  updated_at: "2026-04-22T11:04:37+00:00"
  /v2/sender-accounts/check-sender-status:
    get:
      operationId: CheckSenderStatus
      summary: Este método verifica o status da conexão SMTP e (opcionalmente) IMAP de uma conta de remetente de e-mail conectada
      tags: [Conta de E-mail]
      description: "Este método verifica o status da conexão SMTP e (opcionalmente) IMAP de uma conta de remetente de e-mail conectada. Use-o para verificar se uma conta de remetente está atualmente válida e operacional, e para recuperar quaisquer erros de conexão."
      security:
        - bearerAuth: []
      parameters:
        - name: sender_account_id
          in: query
          description: "ID da conta de remetente de e-mail a ser verificada. Inteiro, valor mínimo: 1 ."
          schema:
            type: string
          required: true
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      smtp:
                        type: object
                        properties:
                          status:
                            type: string
                          errors:
                            type: array
                            items:
                              type: string
                      imap:
                        type: object
              example:
                data:
                  smtp:
                    status: invalid
                    errors: [...]
                  imap: null
  /v2/warm-up:
    post:
      operationId: CreateWarmUp
      summary: Este método cria e inicia uma nova campanha de aquecimento para a conta de e-mail especificada
      tags: [Aquecimento de E-mail]
      description: "Este método cria e inicia uma nova campanha de aquecimento para a conta de e-mail especificada. O aquecimento melhora gradualmente a reputação de envio da conta trocando e-mails curtos com uma rede selecionada de destinatários. Escolha a estratégia progressive para aumentar o volume diário a partir de um ponto inicial pequeno, ou a estratégia steady para enviar um número fixo de e-mails de aquecimento por dia; forneça seu próprio subject e body ou deixe o snov.io gerá-los automaticamente."
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email_account_id:
                  type: integer
                  description: Integer. ID da conta de e-mail a ser aquecida.
                strategy:
                  type: string
                  enum: [progressive, steady]
                  description: "Estratégia de envio. Valores permitidos: progressive , steady . Padrão: progressive ."
                per_day:
                  type: integer
                  description: Integer. Meta de envio diário. Intervalo 1 – 1000 dependendo do plano.
                from:
                  type: integer
                  description: "Integer. Volume diário inicial (apenas estratégia progressive ). Intervalo 1 – 5 , deve ser ≤ per_day . Obrigatório quando strategy=progressive ."
                increase:
                  type: integer
                  description: Integer. Aumento diário de volume (apenas estratégia progressive ). Intervalo 1 – 5 . Obrigatório quando strategy=progressive .
                email_content:
                  type: string
                  enum: [autogenerated (gerado por ia), specific (personalizado)]
                  description: "Tipo de conteúdo do e-mail. Valores permitidos: autogenerated (gerado por IA), specific (personalizado). Padrão: autogenerated ."
                subject:
                  type: string
                  description: "String. Assunto do e-mail, 1–200 caracteres. Obrigatório quando email_content=specific ."
                body:
                  type: string
                  description: "String. Corpo do e-mail, 1–10000 caracteres. Obrigatório quando email_content=specific ."
                reply_rate:
                  type: integer
                  description: "Integer. Percentual de e-mails de aquecimento recebidos que serão respondidos. Intervalo 10 – 45 . Padrão: 30 ."
                campaign_deadline:
                  type: string
                  format: date
                  description: String ( YYYY-MM-DD ). Data em que o aquecimento deve parar. Omita para sem prazo.
                providers:
                  type: array
                  items:
                    type: string
                  description: "Array de strings. Provedores destinatários alvo. Valores permitidos: gmail , microsoft , other ."
                send_to_paid_domain:
                  type: boolean
                  description: "Boolean. Se deve enviar para domínios pagos. Padrão: false ."
                enable_ctd:
                  type: boolean
                  description: "Boolean. Ativar domínio de rastreamento personalizado. Padrão: false ."
                enable_proxy:
                  type: boolean
                  description: "Boolean. Ativar proxy dinâmico. Padrão: false ."
                schedule_id:
                  type: integer
                  description: Integer. ID de um agendamento de envio a ser anexado ao aquecimento.
                template_name:
                  type: string
                  description: String. Nome de um modelo de e-mail salvo para usar.
              required: [email_account_id, per_day]
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                  success:
                    type: boolean
              example:
                data:
                  id: 123
                success: true
    get:
      operationId: GetWarmUpList
      summary: "Este método retorna uma lista paginada de todas as campanhas de aquecimento na conta, opcionalmente filtradas por status"
      tags: [Aquecimento de E-mail]
      description: "Este método retorna uma lista paginada de todas as campanhas de aquecimento na conta, opcionalmente filtradas por status. Cada item tem a mesma estrutura que a resposta de Obter informações da campanha de aquecimento ."
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          description: "Integer. Número da página. Padrão: 1 . Mínimo: 1 ."
          schema:
            type: integer
        - name: per_page
          in: query
          description: "Integer. Número de resultados por página. Valores permitidos: 20 , 50 , 100 . Padrão: 20 ."
          schema:
            type: integer
        - name: status
          in: query
          description: "Filtrar por status. Valores permitidos: active , paused , completed , error . Omita para retornar todos."
          schema:
            type: string
            enum: [active, paused, completed, error]
      responses:
        200:
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        status:
                          type: string
                        reply_rate:
                          type: integer
                        send_to_paid_domain:
                          type: boolean
                        start_date:
                          type: string
                        campaign_deadline:
                          type: string
                        strategy:
                          type: string
                        per_day:
                          type: integer
                        from:
                          type: integer
                        increase:
                          type: integer
                        subject:
                          type: object
                        body:
                          type: object
                        template_name:
                          type: object
                        enable_ctd:
                          type: boolean
                        schedule:
                          type: object
                        email_account:
                          type: object
                          properties:
                            id:
                              type: integer
                            email_from:
                              type: string
                            type:
                              type: string
                            delay:
                              type: integer
                            limit:
                              type: integer
                            per_day:
                              type: integer
                            schedule_required:
                              type: boolean
                            provider:
                              type: string
                            custom_tracking_domain:
                              type: object
                        enable_proxy:
                          type: boolean
                        sent_today:
                          type: integer
                        daily_limit:
                          type: integer
                        total_saved_from_spam:
                          type: integer
                        deliverability:
                          type: integer
                        warm_up_error:
                          type: object
                  success:
                    type: boolean
                  meta:
                    type: object
                    properties:
                      total_items:
                        type: integer
                      page:
                        type: integer
                      per_page:
[...]
